.setup-sliders {
  h2 {
    font-weight: 700;
    text-transform: none;
    font-size: 1.5em;
    text-align: center;
  }

  h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
  }
}

.slider {
  margin-bottom: 70px;
}

.slider-widget {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  .nstSlider {
    width: 100%;
    background: black;
  }
}

.question-header {
  color: #555;
}

.submit {
  height: 40px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 30px;
  background-color: rgb(237, 26, 59);
  border: none;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

#new_user {
  margin-top: 30px;
}

.sign-up-links {
  text-align: center;
}