.setup-sliders {
  h2 {
    font-weight: 700;
    text-transform: none;
    font-size: 1.5em;
    text-align: center;
  }

  h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
  }
}

.slider {
  margin-bottom: 70px;
}

.slider-widget {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  .nstSlider {
    width: 100%;
    background: black;
  }
}

.question-header {
  color: #888;
}

.submit {
  height: 40px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 30px;
  background-color: rgb(237, 26, 59);
  border: none;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

#new_user {
  margin-top: 30px;
}

.sign-up-links {
  text-align: center;
}

.dashboard.callout {
  border-bottom: 10px solid rgb(237, 26, 59);
}

.company {
  padding: 20px 0;
  color: #fff;
  margin: 0;

  .company-meta {
    min-height: 200px;

    h1 {
      letter-spacing: 2px;
    }

    h2 {
      font-size: 1.6em;
      margin-bottom: 5px;
      color: #000;
      letter-spacing: 2px;
    }

    p {
      color: #000;
      font-size: 1.5em;
    }

    .learn-more {
      margin-top: 25px;
    }
  }

  .graph {
    position: relative;
    padding: 0;
    background: rgba(0,0,0,.94);

    .company_graph {
      margin-top: 20px;
    }

    span {
      top: 40%;
      left: 25%;
      position: absolute;
      font-size: 3em;
      font-family: 'Lato', sans-serif !important;
      font-weight: 300 !important;
    }
  }

  &.row {
    padding: 0;
  }
}

.dashboard.submit {
  margin-top: 75px;
}

.greyfont {
  color: #666;
}