.navbar {
  background: #222;
  border: none;

  li {
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.navbar-brand img {
  margin-top: 4px;
  margin-left: 30px;
  height: auto;
}

.callout {
  padding: 4rem 0;
  text-align: center;

  h1 {
    font-size: 24px;
    letter-spacing: 2px;
  }

  &.home {

    h1 {
      margin-top: 10%;
    }
  }
}

.grey-row {
  background: rgba(2,2,2,.94);
}

.home {
  min-height: 400px;

  blockquote {
    text-align: center;
    margin-top: 12%;
  }
}

.submit-home {
  margin-top: 30px;
}