.navbar {
  background: #222;
  border: none;

  li {
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.navbar-brand img {
  margin-top: 4px;
  margin-left: 30px;
  height: auto;
}

.callout {
  padding: 4rem 0;
  text-align: center;

  h1 {
    font-size: 2em;
    letter-spacing: 2px;
    color: #fff;
  }

  &.home {
    background-image: url('Head.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1 {
      font-size: 7em;
      margin-top: 6%;
    }
  }
}

.grey-row {
  background: rgba(2,2,2,.94);
}

.home {
  min-height: 500px;

  blockquote {
    text-align: center;
    margin-top: 12%;
  }
}

.big-copy {
  line-height: 1.5em;
  text-align: center;
}